<<<<<<< HEAD
$blue: #132743;
$grey: #686d76;
$white: #eeecda;
$gold: #edc988;
$green: #9ad3bc;
$yellow: #edf285;
$pink: #ffa5a5;
$red: #ff8282;
$highlight: #2ec1ac;
=======
$blue: #1e279b;
$grey: #686d76;
$white: #ccee0d;
$gold: #edc988;
$green: #01ef90;
$yellow: #edf285;
$pink: #ffa5a5;
$red: #ff8282;
$highlight: #2ec1ac;
>>>>>>> 5a01a71 (Initial commit)
